#prefix.shadowed.upper
  a.special(href="/")="Enterprise CSS"
  =" Is:"
#message.shadowed.upper!=tip.message
code#example
  pre!=tip.example
footer
  p#author="Submitted by: "
    a.special(href="http://twitter.com/#/" + tip.author)=tip.author 
  p#permalink
    a(href="/" + index)="Permalink"
