!!!5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title="Enterprise CSS - Provides proven high performance, enterprise-level and scalable CSS tips and best practices."
    link(href='/stylesheets/enterprise.css?v2', rel='stylesheet')
    style
      | a, em, .special, #moar a:hover { color: ##{color}; }
  body
    #container!=body
      ul#moar
        li
          a(href='http://enterprise-html.com/')='HTML'
        li
          a(href='http://enterprise-css.com/')='CSS'
        li
          a(href='http://enterprise-js.com/')='JS'
      p#contribute
        ="If you'd like to add your own enterprise tips, "
        a(href="http://github.com/bentruyman/enterprise-css")="fork this project"
        =" on GitHub."
    a#fork(href="http://github.com/bentruyman/enterprise-css")
      img(src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", alt="Fork me on GitHub", height="149", width="149")
    script
      | var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-19150805-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();